

.navbar{
    position:fixed;
    width: 100%;
    z-index: 1;
    top: 0;

    
}

main{
    position:absolute;
    background-color: rgb(247, 247, 247);
    padding-top: 100px;
}

.menu{
    background-color: black;
}


