#fila{
    justify-content: space-evenly;
}
#foto{
    position: absolute;
    top: 270px;
}

.apartados{

 padding-left: 80px;
 padding-top: 50px;   

}

.enlace{
    text-decoration: none;
    color: black;

}

a.enlace:hover{
    font-size: 20px;
    color: rgb(120, 112, 78);
}