ul.lista{
    list-style: none;
}

.container-lista{
position: absolute;
z-index: 2;
top: 0px;
left:-12px ;
width: 30%;
background-color: black;
 display: none; 

}

.abre{
        position: absolute;
        z-index: 2;
        top: 0px;
        left:-12px ;
        width: 400px;
        background-color: black;
         display: block;  

   }

.botonCine{
background-color: rgb(241, 224, 127);
width: 70%;
border-radius:25px ;
text-align: center;    
}

.botonAlternativo{
    background-color: rgb(105, 235, 7);
    width: 80%;
    border-radius:25px ;
    text-align: center;     
    
}

.botonComida {
background-color: rgb(204, 148, 35);
width: 70%;
border-radius:25px ;
text-align: center;  
}

.icono{
    position: relative;

}

.cerrar{
margin-left: 60px;

}



.lista a{
    text-decoration: none;
    font-size: 22px;
    color: rgb(0, 0, 0);
    
}

.hijosBoton a{
    color: white;
    font-size: 15px;
}

.menu{
    z-index:1 ;
    background-color: black;
    height: 100px;
    width: 100%;
    color: azure;
    position: fixed;
}

.despliegue{
    
    display: flex;
}

.buscador{
 height: 40px;   

 margin-top: 30px;   
 border-radius: 15px;
}

.ciudad{
    color: azure;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 20px;
}


.botones{
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
}